<div class="col-sm-6">
    <h1>Subscribe!</h1>
    <p>Enter your contact information if you are interested to learn more:</p>
    <form action="/subscribe" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="zipcode" placeholder="Zip Code">
        <input type="checkbox" name="vip">
        <input type="tel" name="phonenumber" placeholder="Phone number">
        <input type="submit" name="submit">
    </form>
</div>